
volumes:
  node1-data:
  node2-data:
  node3-data:
  node4-data:
  node5-data:

x-avalanche-node: &avalanche-node
  image: "avaplatform/avalanchego:${AVALANCHEGO_VERSION}"
  restart: unless-stopped
  command:
    - "/avalanchego/build/avalanchego"
    - "--config-file=/config/config.json"
    - "--genesis-file=/genesis/genesis.json"

services:
  node1:
    <<: *avalanche-node
    container_name: avalanche-node1
    ports:
      - "9650:9650"
      - "9651:9651"
    volumes:
      - ./config/node1/config.json:/config/config.json:ro
      - ./config/node1/staking:/staking:ro
      - ./artifacts/genesis/genesis.json:/genesis/genesis.json:ro
      - node1-data:/data
    networks:
      avalanche:
        ipv4_address: 172.28.0.11

  node2:
    <<: *avalanche-node
    container_name: avalanche-node2
    ports:
      - "9652:9652"
      - "9653:9653"
    volumes:
      - ./config/node2/config.json:/config/config.json:ro
      - ./config/node2/staking:/staking:ro
      - ./artifacts/genesis/genesis.json:/genesis/genesis.json:ro
      - node2-data:/data
    networks:
      avalanche:
        ipv4_address: 172.28.0.12

  node3:
    <<: *avalanche-node
    container_name: avalanche-node3
    ports:
      - "9654:9654"
      - "9655:9655"
    volumes:
      - ./config/node3/config.json:/config/config.json:ro
      - ./config/node3/staking:/staking:ro
      - ./artifacts/genesis/genesis.json:/genesis/genesis.json:ro
      - node3-data:/data
    networks:
      avalanche:
        ipv4_address: 172.28.0.13

  node4:
    <<: *avalanche-node
    container_name: avalanche-node4
    ports:
      - "9656:9656"
      - "9657:9657"
    volumes:
      - ./config/node4/config.json:/config/config.json:ro
      - ./config/node4/staking:/staking:ro
      - ./artifacts/genesis/genesis.json:/genesis/genesis.json:ro
      - node4-data:/data
    networks:
      avalanche:
        ipv4_address: 172.28.0.14

  node5:
    <<: *avalanche-node
    container_name: avalanche-node5
    ports:
      - "9658:9658"
      - "9659:9659"
    volumes:
      - ./config/node5/config.json:/config/config.json:ro
      - ./config/node5/staking:/staking:ro
      - ./artifacts/genesis/genesis.json:/genesis/genesis.json:ro
      - node5-data:/data
    networks:
      avalanche:
        ipv4_address: 172.28.0.15

networks:
  avalanche:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/24
